{%extends "home/base.html"%} {%block content%}
<div class="container-fluid" style="display:flex;border:  solid black 2px; margin:15px;">



    <div class="circular-landscape" style="margin:10px;display:inline-block;position:relative; width:200px;height:200px;overflow:hidden;border-radius: 50%;">
        <img src="{{request.user.employee.profile_img.url}}" alt="" style=" width:auto; height:100%; ">
    </div>
    <div class="tb" style="margin-left:10px;">
        <table class="table table-dark text-black" style="width:auto">
            <thead>

                <tr>
                    <th>Name</th>
                    <th><button class="btn-primary">Follow</button></th>
                </tr>

                <tr>
                    <td>Followers:</td>
                    <td>Following:</td>
                </tr>

                <tr>
                    <td>No of posts:</td>
                    <td>{{posts}}</td>
                </tr>
                <tr>
                    <td>Bio</td>
                </tr>
            </thead>
        </table>


    </div>

</div>
<h1 class="text-center">POSTS</h1>
<div class="container" style="display:flex; flex-wrap: wrap; border: solid black 2px; margin:15px; ">

    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
    <div class="panel panel-default " style="width:max-content ">
        <div class="panel-heading ">Panel Heading</div>
        <div class="panel-body ">Panel Content</div>
        <div class="panel-footer ">Panel Footer</div>
    </div>
</div>

</div>
{%endblock%}