<div class="container text-center" style="display:flex; flex-wrap: wrap; border: solid black 2px; margin:15px; ">
    {%for users in users%}
    <div class="panel panel-default " style="width:max-content ">
        <!-- <div class="panel-heading ">{{post.userpost}}</div> -->
        <div class="panel-body" style="width:200px;height:200px;">
            <div class="circular-landscape" style="margin:10px;display:inline-block;position:relative; width:100px;height:100px;overflow:hidden;border-radius: 50%;">
                <a href="{%url 'oneuser' users.id%}"> <img src="{{users.employee.profile_img.url}}" alt="" style=" width:100%; height:100%; "></a>
            </div>
        </div>
        <h4 class='text-center'>{{users.username}}</h4>
        <button style="width:100%"><a href="{%url 'followU' users.id%}">Follow</a></button>
        <!-- <div class="panel-footer ">Panel Footer</div> -->
    </div>
    {%empty%}
    <h1>0 posts</h1>
    {%endfor%}
</div>