{%extends "home/base.html"%}{%block content%}

<div class="container-fluid" style="display:flex; padding:2px;width:100%;border:  solid black 2px; margin:15px;">
    <div class="circular-landscape" style=" background-color:black;margin:10px;display:inline-block;position:relative; width:200px;height:200px;overflow:hidden;border-radius: 50%;">
        <img src="{{user.employee.profile_img.url}}" alt="" style=" width:auto; height:100%; ">
    </div>
    <div class="tb" style="margin-left:10px;">
        <table class="table table-dark text-black" style="width:auto">
            <thead>

                <tr>
                    <th style="text-transform: uppercase;">{{user}}</th>
                    <th><button><a href="{%url 'followU' user.id%}">Follow</a>
                        </button></th>
                </tr>

                <tr>
                    <td>Followers:{{following|length}}</td>
                    <td>Following:{{followers|length}}</td>
                </tr>

                <tr>
                    <td>No of posts:</td>
                    <td>{{post|length}}</td>
                </tr>
                <tr>
                    <td>Bio</td>
                </tr>
            </thead>
        </table>


    </div>

</div>
<ul class="messages" id="messages-list">
    {% if messages %} {% for message in messages %}
    <li>
        {% if message.tags %}
        <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
        {% else %}
        <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
        {% endif %}
    </li>
    {% endfor %} {% endif %}
</ul>
<h1 class="text-center">POSTS</h1>


{%for post in post%}

<a href="{%url 'oneuser' post.owner.id%}">{{post.owner}}</a>



<a href="{%url 'singlepost' post.id%}"> <img src="{{post.userpost.url}}" alt="" style="width:100%; height:100%"></a>
<div>{{post.caption}}</div>
<!-- <div class="panel-footer ">Panel Footer</div> -->

{%empty%}
<h1>0 posts</h1>
{%endfor%}


</div>

</div>
<h1 class="text-center">Related Accounts</h1>
<div class="container text-center" style="border: 2px solid;display:flex;padding:2px; flex-wrap: wrap;  margin:15px; width:100% ">
    {%for users in users%}
    <a href="{%url 'oneuser' users.id%}">
        <div class="panel panel-default " style="width:max-content ">
            <!-- <div class="panel-heading ">{{post.userpost}}</div> -->
            <div class="panel-body" style="width:200px;height:200px;">
                <div class="circular-landscape" style="background-color:black;margin:10px;display:inline-block;position:relative; width:100px;height:100px;overflow:hidden;border-radius: 50%;">
                    <img src="{{users.employee.profile_img.url}}" alt="" style=" width:100%; height:100%; ">
                </div>

            </div>
            <h4 class='text-center'>{{users.username}}</h4>
            <button style="width:100%"><a href="{%url 'followU' users.id%}">Follow</a></button>
            <!-- <div class="panel-footer ">Panel Footer</div> -->
        </div>
    </a>
    {%empty%}
    <h1>>0 posts from followers and followings
        <</h1>
            {%endfor%}


</div>
{%endblock%}